<h2 class="text-4xl font-extrabold text-center mb-6 text-red-600 tracking-wider shadow-text">Lista de Tareas</h2>

<form [formGroup]="taskForm" (ngSubmit)="addTask()" class="flex flex-col items-center space-y-4 mb-6">
  <input 
    type="text" 
    formControlName="task" 
    placeholder="Nueva tarea" 
    required 
    class="w-80 px-4 py-2 bg-black text-white placeholder-gray-500 border-2 border-white rounded-lg focus:outline-none focus:ring-4 focus:ring-red-600 shadow-lg transition-transform transform hover:scale-105"
  />
  <button 
    type="submit" 
    class="px-8 py-2 bg-red-600 text-white font-bold rounded-full hover:bg-black hover:text-red-600 border-2 border-red-600 focus:outline-none focus:ring-4 focus:ring-red-600 shadow-lg transition-transform transform hover:scale-110"
  >
    Agregar
  </button>
</form>

<div class="text-center my-4 text-white">
  <span class="text-xl font-bold">Tareas Pendientes: <span class="text-red-600">{{ pendingTasksCount }}</span></span> |
  <span class="text-xl font-bold">Tareas Completadas: <span class="text-red-600">{{ completedTasksCount }}</span></span>
</div>

<ul class="space-y-4">
  <li *ngFor="let task of tasks; let i = index" 
      class="flex items-center justify-between p-3 rounded-lg border-2 border-white bg-gray-900 hover:bg-black shadow-lg transform transition-transform hover:scale-105">
    <span 
      [class.line-through]="task.completed" 
      [class.text-gray-500]="task.completed" 
      class="text-white font-semibold">
      {{ task.name }}
    </span>
    <div class="flex space-x-2">
      <button 
        (click)="toggleTaskCompletion(i)" 
        [ngClass]="task.completed ? 'bg-yellow-500' : 'bg-green-500'"
        class="px-4 py-1 text-black font-semibold rounded-lg hover:bg-white border-2 border-white transition-transform transform hover:scale-105"
      >
        {{ task.completed ? 'Desmarcar' : 'Completar' }}
      </button>
      <button 
        (click)="deleteTask(i)" 
        class="px-4 py-1 bg-red-600 text-white font-semibold rounded-lg hover:bg-white hover:text-red-600 border-2 border-white transition-transform transform hover:scale-105"
      >
        Eliminar
      </button>
    </div>
  </li>
</ul>

<button 
  (click)="clearCompletedTasks()" 
  class="mt-8 px-6 py-2 bg-red-600 text-white font-bold rounded-full hover:bg-black hover:text-red-600 border-2 border-white focus:outline-none focus:ring-4 focus:ring-red-600 shadow-lg transition-transform transform hover:scale-110"
>
  Limpiar Completadas
</button>
